
.editor-container{
  width: 95%;
}

.page-container{
  width: 95%
}

.footer-container{
  width: 50;
  height: 10%
}
.editor{
  display: flex;
  justify-content: space-between;
}
.ace-editor{
  width:70%;
}

.output-wrapper{
  width:20%;
  background-color: #272822;
  color: #F8F8F2;
  border-left: #d3b6b6 4px solid;
  padding: .5rem 1rem;
}

.output-wrapper > h4 {
  text-align: center;
  padding-top: 0;
}


.passed-text{
  text-align: center;
  font-size: 24px; 
  vertical-align: middle;
}

.passed-text svg {
  fill: green;
  vertical-align: middle;
}

.failed-text{
  border: 1px solid rgb(235, 12, 12);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 5rem;
}
.failed {
  font-size: 24px;
  color: red;
  text-shadow: 1px 1px 2px black
}
.failed-text svg {
  fill: red;
  vertical-align: middle;
} 